{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
    {{news_detail.title | censor}}
{% endblock title %}

{% block content %}
    <h1>
        {{news_detail.title | censor}}
    </h1>
    <p>
        {{news_detail.content | censor}}
    </p>
    <p>
        Категории:
        {% for c in news_detail.categories.all %}
        {{c.name}},
        {% endfor %}
    </p>
    <p>
        {{publication_date}}
    </p>
    {% if user.is_authenticated %}
    <p><button> <a href="subscribe/">Подписаться</a> </button></p>
    {% endif %}
{% endblock content %}
