{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
    Поиск новостей
{% endblock title %}

{% block content %}
    <form action="" method="get">
        {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
        {{ search_form.form.as_p }}
        <label for="creation_date">Публикации после указанной даты:</label>
        <input type="date" id="creation_date" name="creation_date"/>
        {# Добавим кнопку отправки данных формы #}
        <p><input type="submit" value="Найти" /></p>
   </form>

    {% if news_search_results %}
        <table>
            <!-- Выводим заголовки столбцов таблицы -->
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Содержание</td>
            </tr>
        {% for n in news_search_results %}
            <tr>
                <td>{{ n.title | censor }}</td>
                <td>{{ n.creation_time }}</td>
                <td>{{ n.content | truncatechars:20 }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
    <h2>По запросу ничего не найдено!</h2>
    {% endif %}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}
